
<div class="dream">
<div><h1><%=@dream.title%></h1></div>
<div>The story: <%=@dream.body%></div>
<div>Rating: <%=@dream.rating %></div>
<div>Had dream on: <%=@dream.created_at %></div>
<div>Remembered more on: <%=@dream.updated_at %></div>
<%= image_tag @dream.image, height: '64', width: '64'%>
</div>