
<div class="dream">
<div><%=@dream.title%></div>
<div><%=@dream.body%></div>
<div><%=@dream.rating %></div>
<div><%=@dream.created_at %></div>
<div><%=@dream.updated_at %></div>
<%= image_tag @dream.image, height: '64', width: '64'%>
</div>